/* #logo {
  width: 450px;
} */
input[type="radio"] {
  width: 20px;
  height: 20px;
}

.file-upload-preview-img {
  object-fit: contain;
}

.phq-rating-wrapper {
  display: block;
  position: relative;
  min-width: 120px;
  max-width: 290px;
}

.mask-phq-rating {
  position: absolute;
  bottom: 4rem;
  right: 50%;
}

@media screen and (min-width: 500px) {
  #logo {
    width: 450px;
  }
}

textarea {
  text-indent: 0.5rem;
}
.stq-chart-0 {
  background-color: darkgray !important;
}
.stq-chart-1 {
  background-color: #477dc9 !important;
}

.stq-chart-2 {
  background-color: #fdf517 !important;
}

.stq-chart-3 {
  background-color: #4eda02 !important;
}
.stq-chart-4 {
  background-color: #59e5fd !important;
}
/*
  SWITCH TOGGLE 
*/
.switch-field {
  display: inline-block;
  background-color: var(--bs-dark);
  border: 4px solid var(--bs-dark);
  border-radius: 25px;
  margin-bottom: 0.25rem;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border-radius: 25px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--bs-gray);
  box-shadow: none;
}

@media print {
  body * {
    visibility: hidden;
  }

  button {
    display: none;
  }

  input,
  textarea,
  tr,
  canvas {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .modal-content * {
    visibility: visible;
    overflow: visible;
  }
  .main-page * {
    display: none;
  }
  .modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 550px;
    visibility: visible;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
  .modal-dialog {
    visibility: visible !important;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
}
